@use "abstracts" as *;

@mixin body_styles{
  &{
    font-family: 'Figtree', 'Helvetica Neue', Arial, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    overflow-x: clip;
    color: $color-navy;
    font-feature-settings: 'ss01' on;
  }
}

@mixin base( $is_gutenberg: false ) {

  @if( $is_gutenberg ) {
    @include body_styles;
  } @else {
    @at-root html{
      scroll-behavior: smooth;
      scroll-margin: 80px;
    }
    body{
      @include body_styles;
    }
    body.no-scroll{
      overflow: hidden;
    }
  }
}

