@use "abstracts" as *;

@mixin body_styles{
  &{
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    overflow-x: clip;
    color: $color-text;
    // font-feature-settings: 'ss01' on;
  }
}

@mixin base( $is_gutenberg: false ) {

  @if( $is_gutenberg ) {
    @include body_styles;
  } @else {
    @at-root html{
      scroll-behavior: smooth;
      scroll-margin: 80px;
    }
    body{
      @include body_styles;
    }
    body.no-scroll{
      overflow: hidden;
    }
  }
}

