@use 'abstracts' as *;

@mixin gcBlock{
  .gcBlock{

    &--bg-green{
      background: $color-bright-green;
    }
    &--bg-gray{
      background: $color-bright-gray;
    }

    &--visibility-hidden{
      opacity: 0.5;
    }
  }
}
