@use "abstracts" as *;
@mixin singlePost{

  .postHeader{
    background: $color-bright-green;
    padding: var(--spacing-80) 0;

    &__grid{
      display: grid;
      gap: 40px;
      align-items: center;

      @media screen and (min-width: 1024px){
        grid-template-columns: 1fr 1fr;
      }
    }

    &__image{
      border-radius: 16px;
      overflow: hidden;

      img{
        width: 100%;
        height: auto;
        display: block;
        aspect-ratio: 4 / 3;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .postContent{
    padding: var(--spacing-80) 0;
  }

  .postRelated{
    padding: var(--spacing-40) 0 var(--spacing-80);
  }

}
