@use "abstracts" as *;
@at-root :root{
  --siteHeader-height: 80px;
}
@mixin siteHeader{
  .siteHeader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    &__layout,
    &__height{
      height: var(--siteHeader-height);
    }

    &__layout{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
    }

    &__right{
      display: flex;
      align-items: center;
      gap: 40px;
    }

    &__nav{
      display: flex;
      align-items: center;
      gap: 40px;
      font-size: 16px;
      font-weight: 700;
      color: $color-primary-green;
    }

    &__mobRight{
      display: none;
    }

  }
}