@use "abstracts" as *;
@mixin statsCards{
  .statsCards{
    display: grid;
    gap: 24px;

    @at-root .gcBlock--bg-gray &{
      --statsCards-item-bg: white;
    }
    @at-root .gcBlock--bg-green &{
      --statsCards-item-bg: white;
    }

    &__item{
      --heading-color: #{$color-green};
      background: var(--statsCards-item-bg, #{$color-bright-gray});
      padding: 24px;
      border-radius: 16px;
      color: $color-green;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      text-align: center;
      justify-content: center;
    }

    &__title{
      font-size: 24px;
    }
    &__number{
      font-size: 64px;
      font-family: Aleo, serif;
      font-weight: 700;
      letter-spacing: -0.01em;
    }

    &__footnote{
      margin-top: 16px;
      font-size: 14px;
    }

    @media screen and (min-width: 720px){
      gap: 40px;
      &__item{
        padding: 40px;
      }
    }

    @media screen and (min-width: 1024px){
      grid-template-columns: repeat(3, 1fr);
    }
  }
}