@use "abstracts" as *;

@at-root :root{
  --t-trim-size-t: -0.44em;
  --t-trim-size-b: -0.44em;
}
:root{
  --hoverlink-color: #{$color-wine};
}


@mixin type{

  // contains any class that starts with t-
  [class^="t-"], [class*=" t-"] {
    font-family: 'Aleo', serif;
  }


  .t-h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 96%;
    letter-spacing: -0.01em;
  }

  .t-h2{
    font-size: 64px;
    font-weight: 700;
    line-height: 96%;
    letter-spacing: -0.01em;
  }

  .t-h3{
    font-size: 64px;
    font-weight: 700;
    line-height: 96%;
    letter-spacing: -0.01em;
  }

  .t-h4{
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
  }

  .t-h5{
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
  }

  .t-h6{
    font-size: 24px;
    line-height: 1.2;
  }

  .t-eyebrow{
    font-family: Aleo, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

}
