@use "abstracts" as *;


@at-root :root{
  --t-trim-size-t: -0.3em;
  --t-trim-size-b: -0.3em;
}
:root{
  --hoverlink-color: #{$color-green};
  --heading-color: #{$color-navy};
}


@mixin type{

  .sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); /* Deprecated but still used for old IE */
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
  }

  .text-center{
    text-align: center;
  }

  // contains any class that starts with t-
  [class^="t-h"], [class*=" t-h"] {
    font-family: 'Aleo', serif;
    color: var(--heading-color);

    --t-trim-size-t: -0.06em;
    --t-trim-size-b: -0.16em;
  }

  .t-trim{
    &::before,
    &::after{
      content: "";
      display: block;
    }

    &::before{
      margin-top: var(--t-trim-size-t);
    }

    &::after{
      margin-bottom: var(--t-trim-size-b);
    }

  }

  .t-x-large{
    font-size: 24px;
    @media screen and (max-width: $bp-small-fonts){
      font-size: 20px;
    }
  }
  .t-large{
    font-size: 20px;
    @media screen and (max-width: $bp-small-fonts){
      font-size: 18px;
    }
  }

  .t-small{
    font-size: 16px;
    @media screen and (max-width: $bp-small-fonts){
      font-size: 14px;
    }
  }

  .t-h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 96%;
    letter-spacing: -0.01em;
    @media screen and (max-width: $bp-small-fonts){
      font-size: 48px;
    }
  }

  .t-h2{
    font-size: 64px;
    font-weight: 700;
    line-height: 96%;
    letter-spacing: -0.01em;
    @media screen and (max-width: $bp-small-fonts){
      font-size: 40px;
    }
  }

  .t-h3{
    font-size: 48px;
    font-weight: 700;
    line-height: 96%;
    letter-spacing: -0.01em;
    @media screen and (max-width: $bp-small-fonts){
      font-size: 32px;
    }
  }

  .t-h4{
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
    @media screen and (max-width: $bp-small-fonts){
      font-size: 28px;
    }
  }

  .t-h5{
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    @media screen and (max-width: $bp-small-fonts){
      font-size: 24px;
    }
  }

  .t-h6{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    @media screen and (max-width: $bp-small-fonts){
      font-size: 20px;
    }
  }

  .t-eyebrow{
    font-family: Aleo, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    --t-trim-size-t: -0.06em;
    --t-trim-size-b: -0.18em;
    @media screen and (max-width: $bp-small-fonts){
      font-size: 15px;
    }
  }

  .t-accent{
    color: $color-green;
    font-style: italic;
  }

}
