@use "abstracts" as *;
:root{
  --wysiwyg-ul-space: 0.5em;
  --wysiwyg-space : 1em;
}
@mixin wysiwyg {
  .wysiwyg{

    * + *{
      margin-top: var(--wysiwyg-space);
    }
    li + li {
      margin-top: var(--wysiwyg-ul-space);
    }

    :is(h1,h2,h3,h4,h5,h6):not(:first-child){
      margin-top: 2em;
    }

    h2, h3, h4, h5, h6{
      font-family: Aleo, serif;
      font-weight: bold;
      letter-spacing: -0.01em;
      color: $color-navy;
    }

    h2{
      font-size: 40px;
    }
    h3{
      font-size: 32px;
    }
    h4{
      font-size: 24px;
    }
    h5{
      font-size: 20px;
    }
    h6{
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }


    strong,b{
      font-weight: 700;
    }

    em,i{
      font-style: italic;
    }

    ol ,ul{
      list-style: none;
      counter-reset: custom-counter;
      padding-left: 1.5em;

      li + li {
        margin-top: var(--wysiwyg-ul-space);
      }

      li{
        position: relative;
        &::before{
          position: absolute;
          left: -1.25em;
          font-weight: bold;
          color: $color-light-green;
        }
      }
    }

    ul li::before{
      content: '•';
      font-size: 200%;
      line-height: 0.75;
      left: -0.75em;
    }
    ol li::before{
      counter-increment: custom-counter;
      content: counter(custom-counter) ".";
    }

    /*
    Images
     */

    [class*="wp-image-"] {
      max-width: 100%;
      height: auto;
      display: block;
    }

    .wp-caption{
      width: auto !important;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .wp-caption-text{
        font-size: 16px;
      }
    }

    .alignright{
      margin-left: auto;
    }
    .aligncenter{
      margin: 0 auto;
    }

  }
}
