@use "abstracts" as *;
:root{
  --wysiwyg-ul-space: 8px;
}
@mixin wysiwyg {
  .wysiwyg{


    strong,b{
      font-weight: 700;
    }

    em,i{
      font-style: italic;
    }

    ol ,ul{
      list-style: decimal;        /* Números por defecto */
      counter-reset: custom-counter; /* Si quieres numeración personalizada */
      padding-left: 1.5em;

      li + li {
        margin-top: var(--wysiwyg-ul-space);
      }
    }
    ul {
      list-style: disc;       /* bolitas sólidas */
    }

    /*
    Images
     */

    [class*="wp-image-"] {
      max-width: 100%;
      height: auto;
      display: block;
    }

    .wp-caption{
      width: auto !important;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .wp-caption-text{
        font-size: 16px;
      }
    }

    .alignright{
      margin-left: auto;
    }
    .aligncenter{
      margin: 0 auto;
    }

  }
}
