$color-navy: #141C33;
$color-sky: #AEDBEA;
$color-off-white: #F3F3EF;
$color-cream: #EDEBDE;
$color-slate: #2A334D;
$color-coral: #FC5740;
$color-sage: #BCC3A8;
$color-rose-beige: #DAC8C6;
$color-warm-stone: #D8D5C6;
$color-royal-blue: #005292;
$color-olive: #687D51;
$color-wine: #772D2D;
$color-black: #000000;
$color-white: #FFFFFF;
