$color-green: #32602F;
$color-navy: #141F61;
$color-dark-green: #254022;
$color-light-green: #78BA73;
$color-bright-green: #EEF7EE;
$color-bright-gray: rgb(219, 220, 220);
$color-red-orange: #FF4A00;
$color-cyan: #00A3E0;
$color-purple-gray: #9EB2E0;
$color-light-gray: #eaeff6;
$color-text: #323532;