$color-primary-green: #32602F;
$color-primary-navy: #141F61;
$color-secondary-dark-green: #254022;
$color-secondary-light-green: #78BA73;
$color-tertiary-red-orange: #FF4A00;
$color-tertiary-cyan: #00A3E0;
$color-tertiary-purple-gray: #9EB2E0;
$color-tertiary-light-gray: #E0E8F5;
$color-text: #323532;