$small-fonts-breakpoint : 768px;

@mixin f_reckless{
  font-family: 'Reckless Light', Georgia, serif;
}

@mixin t-20{
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  font-weight: 700;
}

@mixin t-22{
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.02em;
}

@mixin t-36{
  font-size: 36px;
  line-height: 48px;
  @media screen and (max-width: $small-fonts-breakpoint){
    font-size: 28px;
    line-height: 38px;
  }
}

@mixin t-48{
  @include f_reckless;
  font-size: 48px;
  line-height: 56px;
  font-weight: 300;
}

@mixin t-74-italic{
  @include f_reckless;
  font-size: 74px;
  line-height: 82px;  //este tiene en otro lugar otra altura de linea
  font-weight: 300;
  font-style: italic;
  @media screen and (max-width: $small-fonts-breakpoint){
    font-size: 48px;
    line-height: 56px;
  }
}

@mixin t-74{
  @include f_reckless;
  font-size: 74px;
  line-height: 84px;  
  font-weight: 300;
  @media screen and (max-width: $small-fonts-breakpoint){
    font-size: 48px;
    line-height: 56px;
  }
}

@mixin t-100{
  @include f_reckless;
  font-size: 100px;
  line-height: 105px;
  font-weight: 300;
  @media screen and (max-width: $small-fonts-breakpoint){
    font-size: 48px;
    line-height: 56px;
  }
}
